body {
    background-color: gray;
    font-size: large;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#mapa {
    text-align: center;
    border: solid;
}

#mapa1914 {
    text-align: center;
}

#mapa1920 {
    text-align: center;
}

div {
    text-align: right;
}