* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffef0;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../img/fundo.png");
    background-size:cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

#Subtitulo {
    text-align: center;
}

#main {
    width: 100%;
    justify-content: center;
    display: flex;
}

#PainelLateral {
    background-color: #E0C190;
    border: solid;
    width: 350px;
    justify-content: right;
    border-left: 0;
    height: 501px;
    overflow-y: hidden;
}

#DivAno {
    text-align: center;
    font-size: x-large;
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#Info {
    text-align: center;
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#DivBandeira {
    size: 5%;
    text-align: center;
    padding: 5px;
}

#Ano {
    text-align: center;
}

#mapa {
    justify-content: end;
    text-align: center;
    border: solid;
    height: 501px;
    display: flex;
    background-color: rgb(112, 128, 144)
}

#TimelineDiv {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 2%;
}

.slider {
    width: 50%;
    display: inline;
    background: url('../img/esfera.png');
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url('../img/esfera.png');
    cursor: pointer;
  }
  

.AnoRange{
    list-style: none;
    display: inline;
    justify-items:flex-end;
    font-size: larger;
    font-weight: bolder;
}
    li{
    position: relative;
    float:inherit;
    width: 90px;
    display: inline;
    }

#Eventos{
    overflow-x: auto;
    height: 250px;
}

#DivTitulo{
    text-align: center;
    margin-bottom: 3%;
}

#Evento_Titulo{
    font-size: 105%;
    font-weight: bold;
}

#DivLocal{
    align-items: center;
    padding-bottom: 5%;
    text-align: center;
}

#DivData{
    padding-bottom: 7%;
    text-align: center;
}

#DivDesc{
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

#DivImg{
    text-align: center;
}

#DivFonte{
    bottom: 0;
}